python-dotenv
langchain==0.2.16
langchain-openai==0.1.25
langchain-community==0.2.16
langchain-core==0.2.38
openai==1.40.0
yfinance
google-search-results
click
streamlit
supabase
requests
pandas
matplotlib
seaborn
openpyxl
tabulate
Pillow
