python-dotenv==1.0.0
langchain==0.2.16
langchain-openai==0.1.25
langchain-community==0.2.16
langchain-core==0.2.40
openai==1.40.0
yfinance
google-search-results==2.4.2
click==8.1.7
streamlit==1.43.0
supabase==2.4.2
requests==2.31.0
pandas
matplotlib
seaborn
openpyxl
tabulate
numpy==1.26.4
protobuf==5.29.0
